{% extends 'layouts/main.twig' %}

{% block page %}

    <div class="container" ng-app="loginApp">

        <form class="form-signin" action="{{ path('admin_check_') }}" method="post" ng-controller="sendController">
            <h2 class="form-signin-heading">Авторизация</h2>
            <label for="login" class="sr-only">Логин</label>
            <input type="text" id="username" class="form-control" name="_username" placeholder="Логин" value="" ng-model="username">
            <label for="password" class="sr-only">Пароль</label>
            <input type="password" id="password" class="form-control" name="_password" placeholder="Пароль" value="" ng-model="password">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me"> Запомнить меня
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="check()">Войти</button>
        </form>

        {% if (error) %}

            <div class="b-message alert alert-danger login-alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ error }}
            </div>

        {% endif %}

    </div>

{% endblock %}
