<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Zaibatsu</title>
    <link href="/assets/css/main.css" rel="stylesheet">
    <script src="/assets/js/main.js"></script>
</head>
<body>

    {% block page %}{% endblock %}

</body>
</html>